<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gifPlay_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A7D70641F4C287E00823D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7D707D1F4C287E00823D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7D70881F4C287E00823D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
